<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayan.food.mapper.ChallengeRedemptionMapper">
  <insert id="insert">
    INSERT INTO auth_challenge_redemption(generation, purpose, identity_digest)
    VALUES(#{generation}, #{purpose}, #{identityDigest})
  </insert>
</mapper>
